!vendor/illuminate/html/HtmlServiceProvider.php
!vendor/lusitanian/oauth/src/OAuth/OAuth2/Service/NetrunnerDB.php
!.gitkeep
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.live.env
.idea
node_modules
public/js
public/css
public/fonts
public/img
public/tjsons
public/favicon*
public/manifest.json
public/ms-icon-*
public/apple-*
public/android-*
public/browserconfig.xml
public/build
tests/nightwatch/bin
selenium-debug.log
tests/nightwatch/reports
tests/nightwatch/globals/login-data.js
cards.json
composer.phar
resources/assets/js/bootstrap.min.js
resources/assets/js/tether.js
phantomjsdriver.log
app/Http/Controllers/ASController.php