/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea
node_modules
public/js
public/css
public/fonts
!vendor/illuminate/html/HtmlServiceProvider.php
tests/nightwatch/bin
selenium-debug.log
tests/nightwatch/reports
!vendor/lusitanian/oauth/src/OAuth/OAuth2/Service/Thrones.php
