body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.label {
    font-style: italic;
}

.bracket{
    position: relative;
    padding: 0.5em 1em 1em 1em;
    margin: 1em 0em;
}
.bracket:before, .bracket:after{
    content: '';
    display: block;
    height: 100%;
    width: 25px;
    border: 2px solid #333;
    position: absolute;
    top: -5px;
}
.bracket:before{ left: 0; border-right: 0; pointer-events: none; }
.bracket:after{ right: 0; border-left: 0; pointer-events: none; }

.navbar-brand-image {
    float: left;
    height: 30px;
    padding: 0;
    margin: 0 10px;
}

.page-header {
    border-bottom: 2px solid #000;
    padding-bottom: 9px;
    margin: 40px 0 20px;

    /*font-size: 24px;*/

    /*font-family: inherit;*/
    /*font-weight: 500;*/
    /*line-height: 1.1;*/
    /*color: inherit;*/
}

.margin-tb {
    margin: 2em;
}

.map-wrapper {
    height: 400px;
    width: 100%;
}

.map-wrapper-small {
    height: 250px;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.table th {
    border: 0;
}