@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}
.panel-heading {
    font-style: italic;
}